<!-- NAVBAR -->
<nav class="navbar fixed-top navbar-dark bg-primary p-2">
    <h1 class="h4 text-light">Regístrate y crea tu portfolio</h1>
</nav>

<!-- REGISTER -->

<div class="container-fluid top-section-low">
    <div class="row justify-content-md-center">
        <div class="col-md-auto">
            <form [formGroup]="form" (ngSubmit)="onRegister()">
                <div class="mb-3">
                    <input type="email" class="form-control" formControlName="email" placeholder="Ingresa un email"
                        data-required>
                </div>
                <div class="mb-3">
                    <input type="password" class="form-control" formControlName="password1"
                        placeholder="Ingresa una contraseña">
                    <small class="form-text text-muted">Debe tener 8 o más caracteres</small>
                </div>
                <div class="mb-3">
                    <input type="password" class="form-control" formControlName="password2"
                        placeholder="Repite la contraseña">
                </div>
                <div class="text-center">
                    <p *ngIf="invalidData" class="text-danger text-center mb-3">Datos inválidos</p>
                </div>
                <div class="mb-3 d-grid">
                    <button type="submit" class="btn btn-primary btn-block">Registrarse</button>
                </div>
            </form>
            <div class="d-grid">
                <button class="btn btn-secondary btn-block" routerLink="/login">Ingresar</button>
            </div>
        </div>
    </div>
</div>

<!-- FOOTER -->

<footer class="container-fluid fixed-bottom navbar-light bg-light text-center">
    <p class="navbar-brand"><a href="https://github.com/diegobayard">Diego Bayard</a></p>
</footer>
