<ng-template #content let-modal>
    <div class="modal-header">
      <h4 class="modal-title" id="modal-basic-title">Editar contacto</h4>
      <button type="button" class="btn-close" aria-label="Close" (click)="modal.dismiss('Cross click')"></button>
    </div>
    <div class="modal-body">
      <form [formGroup]="form">
        <div class="mb-3">
          <label for="contact">Contacto</label>
          <div class="input-group">
            <input id="contact" class="form-control" placeholder="{{contact}}" formControlName="contact">
          </div>
        </div>
      </form>
    </div>
    <div class="modal-footer">
      <button type="button" class="btn btn-outline-secondary" (click)="modal.close('Save click')">Cancelar</button>
      <button type="button" class="btn btn-outline-primary" (click)="saveContact()">Guardar</button>
    </div>
  </ng-template>
  
  <i class="fas fa-lg fa-edit m-3" id="edit-profile-icon" (click)="open(content)"></i>
