<ng-template #content let-modal>
    <div class="modal-header">
      <h4 class="modal-title" id="modal-basic-title">Editar acerca de</h4>
      <button type="button" class="btn-close" aria-label="Close" (click)="modal.dismiss('Cross click')"></button>
    </div>
    <div class="modal-body">
      <form [formGroup]="form">
        <div class="mb-3">
          <label for="about">Escribe algo</label>
          <div class="input-group">
            <textarea id="about" class="form-control" placeholder="{{about}}" formControlName="about" rows="3"></textarea>
          </div>
        </div>
      </form>
    </div>
    <div class="modal-footer">
      <button type="button" class="btn btn-outline-secondary" (click)="modal.close('Save click')">Cancelar</button>
      <button type="button" class="btn btn-outline-primary" (click)="saveAbout()">Guardar</button>
    </div>
  </ng-template>
  
  <i class="fas fa-2x fa-edit float-end m-1" id="edit-profile-icon" (click)="open(content)"></i>

