<ng-template #content let-modal>
    <div class="modal-header">
        <h4 class="modal-title" id="modal-basic-title">Agregar skill</h4>
        <button type="button" class="btn-close" aria-label="Close" (click)="modal.dismiss('Cross click')"></button>
    </div>
    <div class="modal-body">
        <form [formGroup]="form">
            <div class="mb-3">
                <label for="name">Skill:</label>
                <input class="form-control" formControlName="name"><br>
                <label for="progress">Progreso:</label>
                <input class="form-control" formControlName="progress"><br>
            </div>
        </form>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-outline-secondary" (click)="modal.close('Save click')">Cancelar</button>
        <button type="button" class="btn btn-outline-primary" (click)="addSkill()">Guardar</button>
    </div>
</ng-template>

<i class="fas fa-2x fa-plus-circle float-end m-1" (click)="open(content)"></i>