<!-- NAVBAR -->

<nav class="navbar fixed-top navbar-dark bg-primary p-2">
    <h1 class="h4 text-light">Lista de usuarios</h1>
    <div class="text-right">
        <li class="nav-item" ngbDropdown>
            <a class="nav-link text-light" tabindex="0" ngbDropdownToggle id="navbarDropdown2" role="button"></a>
            <div ngbDropdownMenu aria-labelledby="navbarDropdown" class="dropdown-menu dropdown-menu-end">
                <a ngbDropdownItem href="#" routerLink="/login">Inicio</a>
                <a ngbDropdownItem href="#" routerLink="/admin-panel">Administrar</a>
                <a ngbDropdownItem href="#" (click)="$event.preventDefault()">Cancelar</a>
            </div>
        </li>
    </div>
</nav>

<!-- LIST -->

<section class="container top-section-high bottom-section">
    <table class="table table-primary table-hover">
        <tbody>
            <tr *ngFor="let person of persons" routerLink="/view-profile/{{person.id}}">
                <td class="text-center"><img class="person-avatar" src="{{person.avatar || 'assets/images/avatar.webp'}}"></td>
                <td class="display-6 text-center">{{person.fullName}}</td>
            </tr>
        </tbody>
    </table>
</section>

<!-- FOOTER -->

<footer class="container-fluid fixed-bottom navbar-light bg-light text-center">
    <p class="navbar-brand"><a href="https://github.com/diegobayard">Diego Bayard</a></p>
</footer>
