<ng-template #content let-modal>
    <div class="modal-header">
        <h4 class="modal-title" id="modal-basic-title">Editar estudio</h4>
        <button type="button" class="btn-close" aria-label="Close" (click)="modal.dismiss('Cross click')"></button>
    </div>
    <div class="modal-body">
        <form [formGroup]="form">
            <div class="mb-3">
                <label for="institution">Institución</label>
                <input type="text" class="form-control" formControlName="institution"><br>
                <label for="logo">Logo</label>
                <input type="text" class="form-control" formControlName="logo"><br>
                <label for="study">Estudio</label>
                <input class="form-control" formControlName="name"><br>
                <label for="startDate">Inicio</label>
                <input class="form-control" formControlName="startDate"><br>
                <label for="endDate">Finalización</label>
                <input class="form-control" formControlName="endDate"><br>
            </div>
        </form>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-outline-secondary" (click)="modal.close('Save click')">Cancelar</button>
        <button type="button" class="btn btn-outline-primary" (click)="editStudy()">Guardar</button>
    </div>
</ng-template>

<i class="fas fa-lg fa-edit m-3" id="edit-profile-icon" (click)="open(content)"></i>